body {
  background-color: #151519;
  color: lightgray;
  padding: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
a {
  color: #7e7;
  text-decoration:none;
}
a:hover {
  color: #fe30fe;
}

nav a:nth-child(5) {
  color: #fe30fe;
  border-bottom: 0.007rem solid #fe30fe;
}
